<!DOCTYPE html>
<html lang="pt">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block titulo %}{{ NOME_ESCOLA }}{% endblock %}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'escola/css/style.css' %}">
</head>
<body class="{% if request.resolver_match.url_name == 'home' %}pagina-inicio{% endif %}">

<header class="cabecalho-novo">
  {% if request.resolver_match.url_name == 'home' %}
  <h1 class="cabecalho-novo__titulo">SISTEMA DE COMUNICAÇÃO DE FALTA EM TEMPO REAL</h1>

  <nav class="menu-grade-novo">
    <a href="{% url 'escola:home' %}">Início</a>
    <a href="{% url 'escola:funcionarios_lista' %}">Funcionários</a>
    <a href="{% url 'escola:documentos_lista' %}">Regulamento</a>
    <a href="{% url 'escola:lazer' %}">Lazer</a>
    <a href="{% url 'escola:painel_sms' %}">Painel das faltas</a>
    <a href="{% url 'escola:horarios' %}">Horários</a>
    <a href="{% url 'escola:vitrine' %}">Vitrine</a>
    <a href="{% url 'escola:desenvolvidor' %}">Desenvolvidor do site</a>
    <a href="{% url 'escola:contributo' %}">Fala com a Direção da Escola</a>
    <a href="{% url 'escola:logout' %}">Sair</a>
  </nav>

  <div class="cabecalho-novo__logo-caixa">
    <img src="{% static 'escola/logo.jpg' %}" alt="Logótipo da {{ NOME_ESCOLA }}" class="cabecalho-novo__logo">
  </div>
  {% else %}
  <div class="cabecalho-novo__voltar">
    <a href="{% url 'escola:home' %}" class="cabecalho-novo__seta">◀</a>
    <span class="cabecalho-novo__secao-atual">
      {% if request.resolver_match.url_name == 'funcionarios_lista' or request.resolver_match.url_name == 'funcionario_detail' %}FUNCIONÁRIOS
      {% elif request.resolver_match.url_name == 'documentos_lista' %}REGULAMENTO
      {% elif request.resolver_match.url_name == 'lazer' %}LAZER
      {% elif request.resolver_match.url_name == 'painel_sms' %}PAINEL DAS FALTAS
      {% elif request.resolver_match.url_name == 'horarios' %}HORÁRIOS
      {% elif request.resolver_match.url_name == 'vitrine' %}VITRINE
      {% elif request.resolver_match.url_name == 'desenvolvidor' %}DESENVOLVIDOR DO SITE
      {% elif request.resolver_match.url_name == 'contributo' %}FALA COM A DIREÇÃO DA ESCOLA
      {% else %}{{ NOME_ESCOLA|upper }}
      {% endif %}
    </span>
  </div>
  {% endif %}
</header>

<main>
  {% if messages %}
    <div class="mensagens">
      {% for message in messages %}
        <div class="mensagem mensagem--{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  {% block conteudo %}{% endblock %}
</main>

<footer class="rodape">
  <div class="rodape__conteudo">
    {% if request.resolver_match.url_name == 'home' %}<p class="rodape__credito">🧠 Desenvolvidor=Informático Simão Paulo Bernardo ( Edmilson) Mwana Kimbele 🧠</p>{% endif %}
  </div>
</footer>

</body>
    </html>
