{% extends "escola/base.html" %}
{% block titulo %}{{ titulo_pagina }} - {{ NOME_ESCOLA }}{% endblock %}
{% block conteudo %}
<section class="secao">
  <div class="grade-recursos">
    {% for img in imagens %}
      <div class="cartao-recurso">
        <a href="{{ img.imagem.url }}" target="_blank" rel="noopener" class="cartao-recurso__miniatura-caixa">
          <img src="{{ img.imagem.url }}" alt="{{ img.titulo }}" class="cartao-recurso__miniatura">
        </a>
        <p class="cartao-recurso__titulo">{{ img.titulo }}</p>
        <p class="cartao-recurso__data">{{ img.publicado_em|date:"d/m/Y" }}</p>
        {% if img.mensagem %}<p class="cartao-recurso__mensagem">{{ img.mensagem|linebreaksbr }}</p>{% endif %}
        <a href="{{ img.imagem.url }}" target="_blank" rel="noopener" class="cartao-recurso__link-ver">👁️ Ver</a>
        <a href="{{ img.imagem.url }}" download class="cartao-recurso__botao-pilula">Descarregar Imagem</a>
      </div>
    {% empty %}
      <p>{{ vazio_texto }}</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
